html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(318deg,#141414 24%, #292929 100%);
  overflow: scroll;
}


p, h1, h2, h3, h4, div, hr, a {
  color: rgb(174, 174, 174);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

hr {
  margin: 30px 0;
}

a:hover {
  color: rgb(143, 142, 142);
  cursor: pointer;
}

button {
  color: white;
  background: linear-gradient(318deg, #ff6b1a 24%, #ffb347 100%);
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  margin: 15px 0;
  cursor: pointer;
  border: none;
}

button:hover {
  background: linear-gradient(318deg,#ff8c42 24%,#ffd08a 100%);
  cursor: pointer;
}

.fa-solid, .fa-brands {
  align-self: center;
  display: flex;
  font-size: 25px;

  background: linear-gradient(318deg,#ff6b1a 24%,#ffb347 100%);

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.fa-brands:hover {
  background: linear-gradient(318deg,#ff8c42 24%,#ffd08a 100%);

  -webkit-background-clip: text;
  background-clip: text;
}